.site-title::before {
      content: url("/assets/images/logoChessHub_short.png"); /* Adjust path if needed */
      display: inline-block;
      position: relative;
      width: 35px; /* Adjust as needed */
      height: 35px; /* Adjust as needed */
      top: 5px; /* Adjust vertical alignment */
      margin-right: 10px; /* Space between logo and text */
      vertical-align: middle;
    }
